---
layout: null
---

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <div class='section'>
        <div class='rightbar'>
          <div class='choose-language'><a href='/en'><img src='{{ site.baseurl }}/static/images/transparent.png' class='sprite spr_english'/></a><a href='/it'><img src='{{ site.baseurl }}/static/images/transparent.png' class='sprite spr_italian' /></a></div>
          <div class='photo'><img src='{{ site.baseurl }}/static/images/photo.png' /></div>
          <div class='qrcode'><img src='{{ site.baseurl }}/static/images/transparent.png' class='sprite spr_vcfen'/></div>
        </div>



      </div>


      {% include previous_employments.html %}

      {% include education.html %}

    </div>
  </body>
</html>