---
layout: null
---

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <div class='section'>
        <div class='rightbar'>
          <div class='choose-language'><a href='/en'><img src='{{ site.baseurl }}/static/images/transparent.png' class='sprite spr_english'/></a><a href='/it'><img src='{{ site.baseurl }}/static/images/transparent.png' class='sprite spr_italian' /></a></div>
          <div class='photo'><img src='{{ site.baseurl }}/static/images/photo.png' /></div>
          <div class='qrcode'><img src='{{ site.baseurl }}/static/images/transparent.png' class='sprite spr_vcfen'/></div>
        </div>
        <h1>{{ site.contents.personal_information.name_surname}}</h1>
        {% include personal_information.html %}
      </div>

      {% include current_positions.html %}
      {% include previous_employments.html %}
      {% include accomplishments.html %}
      {% include education.html %}
      {% include other_information.html %}
    </div>
  </body>
</html>