<div class='section'><h2>accomplishments, skills and competences</h2>
  <div class='group'>
    <table>
      <tr>
        <td>
          Languages
        </td>
        <td>
          <table class='languages'>
            <tr>
              <td>Language</td>
              <td colspan='2'>Understanding</td>
              <td colspan='2'>Speaking</td>
              <td>Writing</td>
            </tr><tr>
              <td></td>
              <td>Listening</td>
              <td>Reading</td>
              <td>Spoken interaction</td>
              <td>Spoken production</td>
              <td>Writing production</td>
            </tr>
            {% for language in site.contents.languages %}
              <tr>
                <td>{{ language.language }}</td>
                <td>{{ language.understanding_listening }}</td>
                <td>{{ language.understanding_reading }}</td>
                <td>{{ language.spoken_interaction }}</td>
                <td>{{ language.spoken_production }}</td>
                <td>{{ language.writing_production }}</td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div class='group'>
    <table>
      <tr>
        <td>Accomplishments &<br />organizational skills</td>
        <td>{{ site.contents.skills.accomplishments }}<td>
      </tr>
    </table>
  </div>

  <div class='group'>
    <table>
      <tr>
        <td>Relational skills</td>
        <td>{{ site.contents.skills.relational_skills }}</td>
      </tr>
    </table>
  </div>

  <div class='group'>
    <table>
      <tr>
        <td>Technical skills</td>
        <td>{{ site.data.contents.technical_skills }}</td>
      </tr>
    </table>
  </div>

  <!--<div class='group'>
    <table>
      <tr>
        <td>Artistic skills</td>
        <td>{{ site.contents.skills.artistic_skills }}</td>
      </tr>
    </table>
  </div>-->
</div>
