<div class='section'><h2>education and training</h2>
  <div class='group'>
    <table>
      {% for education in site.skills %}
        <tr>
          <td>Dates</td>
          <td>{{ education.dates }}</td>
        </tr><tr>
          <td>Name and type of organization providing education</td>
          <td>{{ education.organization }}</td>
        </tr><tr>
          <td>Title of qualification awarded</td>
          <td>{{ education.qualification }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
