<div class='section'><h2>{{site.data[transfile].education_and_training}}</h2>
  <div class='group'>
    <table>
      {% for education in site.education %}
        {% if education.lang == page.shortlang %}
          <tr>
            <td><b>{{site.data[transfile].Dates}}</b></td>
            <td>{{ education.dates }}</td>
          </tr><tr>
            <td><b>{{site.data[transfile].Name_type_organization_providing_education}}</b></td>
            <td>{{ education.organization }}</td>
          </tr><tr>
            <td><b>{{site.data[transfile].Title_awarded}}</b></td>
            <td>{{ education.qualification }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
