<div class='section otherinfo'><h2>{{site.data[transfile].other_information}}</h2>
  <div class='group'>
    <table>
      {% for information in site.other_information %}
        {% if information.lang == page.shortlang %}
          <tr>
            <td><b>{{ information.title }}</b></td>
            <td>{{ information.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
  <div class='lastgroup'>
    <table class='references'>
      <tr>
        <td>{{site.data[transfile].references}}</td>
        <td id='references'></td>
      </tr>
    </table>
  </div>
</div>
