<div class='section otherinfo'><h2>other information</h2>
  <div class='group'>
    <table>
      <tr>
        <td>Driving license</td>
        <td>European driving license B</td>
      </tr><tr>
        <td>Privacy</td>
        <td id='otherinfo'>The usage of this information is allowed only for job related purposes.</td>
      </tr>
    </table>
  </div>
  <div class='lastgroup'>
    <table class='references'>
      <tr>
        <td>References</td>
        <td id='references'></td>
      </tr>
    </table>
  </div>
</div>
