<h2>personal information</h2>
<div class="group firstgroup">
  <table>
    <tr>
      <td>First name / surname</td>
      <td if="fn">{{ site.data.personal_information.name_surname }}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{ site.data.personal_information.gender }}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td if="adr">{{ site.data.personal_information.address }}</td>
    </tr>
    <tr>
      <td>Telephone</td>
      <td if="tel">{{ site.data.personal_information.telephone }}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td if="email">{{ site.data.personal_information.email }}</td>
    </tr>
    <tr>
      <td>Website</td>
      <td if="url">{{ site.data.personal_information.website }}</td>
    </tr>
    <tr>
      <td>Date and place of birth</td>
      <td if="fn">{{ site.data.personal_information.date_place_birth }}</td>
    </tr>
    <tr>
      <td>Nationality</td>
      <td if="fn">{{ site.data.personal_information.nationality }}</td>
    </tr>
  </table>
</div>
