<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/Resume/static/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/Resume/">Home</a></li>
		        	<li><a href="/Resume/about">About</a></li>
	        		<li><a href="/Resume/cv">CV</a></li>
	        		<li><a href="/Resume/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/periloso">github.com/periloso</a></li>
				</ul>
			</footer>
		</body>
	</html>
